.roulette-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 20vw; /* ビューポート全体の幅 */
  height: 60px;
  margin: 50px auto;
  border: 2px solid #000;
  position: relative;
  background-color: #ffffff;
}

.roulette-track {
  display: flex;
  transition: transform 0.1s ease-out;
  width: auto;
}

.number {
  font-size: 30px;
  margin: 0 10px;
  width: 50px;
  text-align: center;
}

.highlight {
  color: red;
  font-weight: bold;
  font-size: 40px; /* ハイライトされた数字のフォントサイズを大きくする */
}

.indicator {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: green;
  font-weight: bold;
}