html {
	text-align: center;
	background-color: green;
}
<<<<<<< HEAD

=======
h1{
	font-family: "Segoe script";
}
#btitle{
	margin-top: 20%;
}
>>>>>>> 27cc3281ad3c0699baad994e1ab6dd5f5eeb3c32
.card {
	margin: auto;
}

#cards_d {
	flex:1;
}

#cards_d img{
	height: 10vw;
}

#cards_p {
	flex:1;
}

#cards_p img{
	height: 10vw;
}

#hitstand {
	display: flex;
}