html {
	text-align: center;
	background-color: green;
}

body{
	position: relative;
}

#winpoint p{
	position: absolute;
	right: 2vw;
}

.card {
	margin: auto;
}

#cards_d {
	flex:1;
}

#cards_d img{
	height: 15vw;
	margin-top: 1vw;
	margin-right: 0.5vw;
	margin-bottom: 1vh;
}

#cards_p {
	flex:1;
}

#cards_p img{
	height: 20vw;
	margin-right: 0.5vw;
}

#hitstand {
	display: flex;

}